html {
  height: 100%;
}
h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: darkblue;
}

h3 {
  color: darkred;
}

body {
  text-align: center;
  font-family: Helvetica;
  background-color:white;

}
