html {
  height: 100%;
}
h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: darkblue;
}

h3 {
  color: darkred;
}

body {
  text-align: center;
  font-family: Helvetica;
  background-color:white;
}

.HIV-text {
  color: black;
}
.PrEP-text {
   color: #0F6AA2;
}

.Condoms-text {
   color: #38C4A9
}  

.HIV-module {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 1500px;
}

.modules {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
