html {
  height: 100%;
}
h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: darkblue;
}

h3 {
  color: darkred;
}

hr {
height:1px;
border-width:0;
background-color:red
}

body {
  text-align: center;
  font-family: Helvetica;
  background-color: white;
}

.HIV-text {
  color: black;
}
.PrEP-text {
   color: #0F6AA2;
}

.Condoms-text {
   color: #38C4A9
}  

.HIV-module {
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  float: initial;
  width: 355px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  overflow: hidden;
  padding: 0 18px;
  max-height: 0;
  transition: max-height 0.6s ease-out;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #f5f5f5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.home_link {
  color:red;
}

.about_link {
  color:crimson;
}

.events_link {
  color:firebrick;
}

.sam_site {
  color:red
}

.stepup_site {
  color:orangered
}

a:hover {
  color: steelblue;
}

hover{
  color: steelblue;
}
